# see "man logrotate" for details
# rotate log files weekly
{{ logrotate_when }}weekly

# keep 4 weeks worth of backlogs
rotate {{ logrotate_keep }}rotate 4

# create new (empty) log files after rotating old ones
{{ logrotate_what_todo }}create

# uncomment this if you want your log files compressed
{% if logrotate_compress == 'true' %}
compress
{% else %}
#compress
{% endif %}

# packages drop log rotation information into this directory
include /etc/logrotate.d

# no packages own wtmp, or btmp -- we'll rotate them here
/var/log/wtmp {
  missingok
  monthly
  create 0664 root utmp
  rotate 1
}

/var/log/btmp {
  missingok
  monthly
  create 0660 root utmp
  rotate 1
}

# system-specific logs may be configured here
