/var/log/fail2ban.log
{
    {{ item.when }}
    rotate {{ item.keep }}
    compress
    # Do not rotate if empty
    notifempty
 
    delaycompress
    missingok
    postrotate
    fail2ban-client flushlogs 1>/dev/null
    endscript
 
    # If fail2ban runs as non-root it still needs to have write access
    # to logfiles.
    create 640 {{ item.user }} adm

}
