/var/log/alternatives.log
/var/log/dpkg.log
/var/log/fail2ban.log
/var/log/razor-agent.log
{
    copytruncate
    {{ item.when }}
    rotate {{ item.keep }}
    compress
    delaycompress
    missingok
    notifempty
}
