"{{ lemmy_logfile }}"
"{{ lemmy_logfile_error }}"
"{{ lemmy_ui_logfile }}"
"{{ lemmy_ui_logfile_error }}"
"{{ lemmy_pictrs_logfile }}"
"{{ lemmy_pictrs_logfile_error }}" {
  copytruncate
  {{ item.when }}
  rotate {{ item.keep }}
  compress
  delaycompress
  missingok
  notifempty
}
