# - I put everything in one block and added sharedscripts, so that mysql gets
#   flush-logs'd only once.
#   Else the binary logs would automatically increase by n times every day.
# - The error log is obsolete, messages go to syslog now.
/var/log/mysql.log /var/log/mysql/mysql.log
/var/log/mysql/mariadb-slow.log
/var/log/mysql/mysql-slow.log
{
	{{ item.when }}
	rotate {{ item.keep }}
	missingok
	create 640 mysql adm
	compress
	sharedscripts
	postrotate
          test -x /usr/bin/mysqladmin || exit 0

          if [ -f `my_print_defaults --mysqld | grep -oP "pid-file=\K[^$]+"` ]; then
            # If this fails, check debian.conf!
            mysqladmin --defaults-file=/etc/mysql/debian.cnf --local flush-error-log \
              flush-engine-log flush-general-log flush-slow-log
          fi
	endscript
}
